<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>INTL Árboles</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="home-content">
  <section class="intro-section">
    <h1>Bienvenidos a INTL Árboles</h1>
    <p>Promoviendo la conservación y reforestación de nuestras áreas naturales.</p>
  </section>

  <!-- Componente del Mapa en el Centro -->
  <section class="map-section">
    <app-maps></app-maps>
  </section>

  <section class="about-section">
    <h2>Sobre Nosotros</h2>
    <p>INTL Árboles es una organización comprometida con la conservación del medio ambiente. 
      Ayudamos en la restauración de áreas naturales a través de la plantación de árboles y 
      la educación ambiental.</p>
  </section>
</ion-content>
