<ion-content class="about-page">
  <!-- Encabezado con fondo de imagen y cuadro semitransparente -->
  <div class="about-header">
      <div class="header-overlay">
          <h1>Sobre Nosotros</h1>
      </div>
  </div>

  <!-- Sección de Servicios -->
  <ion-grid class="services-section">
      <ion-row>
          <ion-col size="12">
              <h2>¿Qué Hacemos?</h2>
              <p class="intro-text">
                  En INTL, nuestra misión es proteger y restaurar la naturaleza para crear un planeta más verde. Nos dedicamos a la plantación de árboles y la conservación de áreas naturales, con el propósito de mejorar el ambiente y concienciar a las comunidades sobre la importancia del cuidado ambiental.
              </p>
              <p>
                El Instituto Tecnológico de Nuevo León, también conocido como TEC de Nuevo León, es una universidad pública con sede principal en Guadalupe, Nuevo León, México. Cuenta con 7 carreras de ingeniería.
              </p>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
