<ion-footer>
  <ion-toolbar class="footer-bar">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="4" class="footer-logo">
          <ion-icon name="leaf-outline" size="large"></ion-icon>
          <p>INTL Árboles</p>
        </ion-col>
        
        <ion-col size="12" size-md="4" class="footer-description">
          <p>Conservación y reforestación</p>
          <p>Contacto: contactointl-arboles.com</p>
        </ion-col>
        
        <ion-col size="12" size-md="4" class="footer-social">
          <ion-button href="https://www.facebook.com/INTLArboles" target="_blank" fill="clear">
            <ion-icon name="logo-facebook" size="large"></ion-icon>
          </ion-button>
          <ion-button href="https://www.instagram.com/INTLArboles" target="_blank" fill="clear">
            <ion-icon name="logo-instagram" size="large"></ion-icon>
          </ion-button>
          <ion-button href="https://www.twitter.com/INTLArboles" target="_blank" fill="clear">
            <ion-icon name="logo-twitter" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
