.map {
  position: relative;
  height: 500px;
  width: 1500%;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.map-controls {
  display: flex;
  justify-content: space-between; /* Los distribuye en una sola línea */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  gap: 10px;
}

.map-controls ion-button {
  margin: 0;
}

app-custom-select {
  width: 1050px; /* Ajusta el ancho del select */
}
