<ion-content class="ion-padding">
  <ion-modal [isOpen]="isModalOpen">
    <ng-content>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ title }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ treeName }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row *ngFor="let key of getKeys(treeData)">
                <ion-col size="6"><strong>{{ key }}</strong></ion-col>
                <ion-col size="6">{{ treeData[key] || 'N/A' }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-content> 
    </ng-content>
</ion-content>