.tree-info {
    text-align: center;
  
    .tree-name {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em;
      color: #228B22; /* Verde oscuro */
    }
  }
  
  .tree-details {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  
    th {
      text-align: left;
      background-color: #f4f4f4;
      padding: 8px;
      font-weight: bold;
    }
  
    td {
      padding: 8px;
      text-align: left;
    }
  
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
    tr:nth-child(odd
  