<ion-content class="home-page">
    <!-- Sección de Introducción con Imagen de Fondo -->
    <div class="intro-section">
      <div class="intro-overlay">
        <h1>Explora los Árboles del Instituto Tecnológico de Nuevo León</h1>
        <p>Conoce la diversidad de árboles en nuestro campus, accede a información detallada, localización y curiosidades de cada especie. Sumérgete en el ecosistema de nuestro instituto y descubre la belleza natural que nos rodea.</p>
      </div>
    </div>
  
    <!-- Sección de Tarjetas -->
    <ion-grid>
      <ion-row class="cards-row">
        <ion-col size="12" size-md="4">
          <ion-card class="info-card">
            <img alt="Catálogo de Árboles" src="assets/backgrounds/catalog-tree.jpg" />
            <ion-card-header>
              <ion-card-title>Catálogo de Árboles</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Explora una colección completa de árboles en el campus y descubre sus características y peculiaridades.
            </ion-card-content>
            <ion-button fill="clear" class="tree-button" (click)="getCatalogRoute()">Ver Catálogo</ion-button>
          </ion-card>
        </ion-col>
  
        <ion-col size="12" size-md="4">
          <ion-card class="info-card">
            <img alt="Mapa Interactivo" src="assets/backgrounds/tree-map.jpg" />
            <ion-card-header>
              <ion-card-title>Mapa Interactivo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Encuentra cada árbol en el campus y aprende sobre su ubicación en nuestro mapa interactivo.
            </ion-card-content>
            <ion-button fill="clear" class="tree-button" (click)="getMapRoute()">Ver Mapa</ion-button>
          </ion-card>
        </ion-col>
  
        <ion-col size="12" size-md="4">
          <ion-card class="info-card">
            <img alt="Lector QR" src="assets/backgrounds/qr-images.jpg" />
            <ion-card-header>
              <ion-card-title>Lector QR</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Usa el lector QR para escanear árboles y acceder a información adicional en el momento.
            </ion-card-content>
            <ion-button fill="clear" class="tree-button" (click)="getScanRoute()">Escanear QR</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  